.blaa {
    background-color: #DE590B;
    height: 100%;
    width: 100%;
}
.imagestyle{
	margin-top: 20px;
width: 53%;
margin: auto;
margin-left: 16%;
text-align: center;
}
.imagestyle imgp{
	width: 130%;
margin-top: 120px;
text-align: center;
	}
	